body, .h1, .h2, .h3, .h4, .h5, .h6, .navbar, a, button, h1, h2, h3, h4, h5, h6, input, p, select, td, textarea {
  font-family: "Montserrat","Helvetica",Arial,sans-serif;
}

a, button, input, p, select, td, textarea {
  font-size: 15px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}