html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: $themeDark $themeWhite;
  background-color: $themeGrey;
  color: $themeDark;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  height: 7px;
  width: 7px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: $themeWhite;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}
::-webkit-scrollbar-corner {
  background: $themeWhite;
}

.App {
  .main {
    margin-top: 70px;
  }
}

input {
  &:focus {
    box-shadow: none !important;
  }
}