header {
  background-color: $themeWhite;
  box-shadow: 5px 5px 5px #d5d5d5;
  padding-top: 25px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 28px;
  }

}

.btn-tab {
  &:focus {
    box-shadow: none;
  }
  &.active {
    background-color: $primary;
  }
}